html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}

section {
  vertical-align: middle;
}

div {
  display: inline-block;
  text-align: center;
}

h2 {
  color: #333;
  text-align: left;
}

p {
  width: 25em;
  margin: 0 auto;
  text-align: left;
}

button {
  color: #666;
}
