html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;

}

img {
  width: 100%;
  text-align: left;
  max-width: 422px;
}

section {
  vertical-align: middle;
}

div {
  display: inline-block;
  text-align: left;
}

h2 {
  color: #333;
  text-align: left;
}

p {
  width: 25em;
  margin: 0 auto;
  text-align: left;
}

.btn {
  color: #666;
}
