html {
  box-sizing: border-box;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  padding-top: 2em;
}

section {
  vertical-align: middle;
  display: inline-block;
  max-width: 25em;
  width: 100%;
}

.text {
  margin-left: 1.125rem;
}

.image {
  display: inline-block;
  padding: .4em;
}

img {
  display: block;
  width: 100%;
  text-align: left;
  max-width: 25em;
  padding-top: .55em;
  padding-left: .5em;
  padding-right: .5em;
}

div {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 100%;
}

h2 {
  text-align: left;
  padding-top: .7em;
  padding-bottom: .4em;
  font-size: 1.5em;
  margin: 0;
}

p {
  font-size: 1em;
  width: 90%;
  max-width: 25em;
  text-align: left;
  padding-bottom: .65em;
  padding-right: .1em;
  margin: 0;
}

.btn,
.btn:link {
  color: #333;
  border-color: #333;
  border-width: medium;
  font-size: 1.125em;
  background-color: #eee9de;
  border-radius: 7px;
  padding: .65em;
}

.btn:hover {
  background-color: #666;
  color: #fff;
  border-color: #fff;
  border-width: medium;
}
